<nav>
  <ul>
    <li>
      <button
        class="hero"
        routerLink="/aso-futbol/usuario/inicio"
        routerLinkActive="active-option"
      >
        Inicio
      </button>
    </li>
    <li>
      <button
        class="hero"
        routerLink="/aso-futbol/usuario/equipo"
        routerLinkActive="active-option"
      >
        Consultar Equipos
      </button>
    </li>
    <li>
      <button
        class="hero"
        routerLink="/aso-futbol/usuario/jugador"
        routerLinkActive="active-option"
      >
        Consultar Jugadores
      </button>
    </li>
  </ul>
</nav>
