h2 {
  color: rgb(255, 253, 253);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

button {
  background-color: #555;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

div button {
  margin-right: 10px;
  margin-bottom: 20px;
}

button:hover {
  background-color: rgb(17, 177, 251);
}

table {
  background-color: rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
  margin: 16px auto;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

thead {
  background-color: #333;
  color: #fff;
}

th,
td {
  padding: 12px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.8);
}

.delete {
  background-color: #f44336;
  margin-right: 8px;
}

.edit {
  background-color: #4caf50;
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgba(252, 249, 249, 0.9);
}

.add-button {
  background-color: #4caf50;
  margin-top: 16px;
}

.volver {
  background-color: #555;
  margin-top: 16px;
}

.limpiar {
  background-color: #0bd0f8;
  margin-top: 16px;
}

p {
  background-color: #4caf50;
  color: #fff;
  font-size: 24px;
  margin: 0;
  padding: 16px;
  text-align: center;
}

input,
select {
  width: 30%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.formMain {
  background-color: rgba(255, 253, 253, 0.2);
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 10%;
  margin-top: 10px;
}

.form-field label {
  width: 150px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: right;
}

.form-field input,
.form-field select {
  flex: 1;
}
