<section class="hero">
  <div class="hero-container">
    <h1 class="hero-title">Bienvenidos a la Escuela de Fútbol</h1>
    <h1 class="hero-title">ASO - FUTBOL</h1>
    <p class="hero-subtitle">
      !Formando futuros campeones desde hace más de 10 años!
    </p>
  </div>
</section>

<div class="formMain">
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="about-title">¿Qué es Aso - Futbol?</h2>
          <p class="about-description">
            La Escuela de Fútbol Aso - Futbol es un lugar donde los niños y
            jóvenes pueden aprender y mejorar sus habilidades futbolísticas
            mientras se divierten y hacen amigos. Nuestro objetivo es formar
            futuros campeones, no solo en el campo de juego, sino también en la
            vida.
          </p>
        </div>
        <div class="col-md-6">
          <h2 class="about-title">Nuestra Filosofía</h2>
          <p class="about-description">
            Creemos que el fútbol es mucho más que un deporte. Es una
            herramienta poderosa para enseñar valores como el trabajo en equipo,
            el respeto, la disciplina y la perseverancia. En la Escuela de
            Fútbol, no solo enseñamos habilidades futbolísticas, sino también
            valores que ayudarán a nuestros alumnos a tener éxito en la vida.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="formMain2">
  <section class="gallery">
    <h2 class="gallery-title">Galería de Fotos</h2>
    <div class="gallery-container">
      <div class="gallery-item">
        <img src="assets/images/galeria/1.jpg" alt="1" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/galeria/2.jpg" alt="2" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/galeria/3.jpg" alt="3" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/galeria/4.jpg" alt="4" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/galeria/5.jpg" alt="5" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/galeria/6.jpg" alt="6" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/galeria/7.jpg" alt="7" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/galeria/8.jpg" alt="8" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/galeria/9.jpg" alt="9" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/galeria/10.jpg" alt="10" />
      </div>
    </div>
  </section>
</div>
